.icons-dashboard .st0{fill:none;stroke:#24373D;stroke-width:0.75;stroke-miterlimit:10;}
.icons-dashboard .st1{fill:none;stroke:#D44763;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st2{fill:none;stroke:#42B4D9;stroke-width:1.5;stroke-miterlimit:10;}
.icons-dashboard .st3{fill:none;stroke:#92A1A8;stroke-miterlimit:10;}
.icons-dashboard .st4{fill:none;stroke:#516875;stroke-width:1.7432;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st5{fill:#E8E8E8;}
.icons-dashboard .st6{fill:none;stroke:#24373D;stroke-width:1.75;stroke-miterlimit:10;}
.icons-dashboard .st7{fill:#1C728C;}
.icons-dashboard .st8{fill:#EBEBEB;}
.icons-dashboard .st9{fill:#ED5674;}
.icons-dashboard .st10{}
.icons-dashboard .st11{fill:none;stroke:#FFFFFF;stroke-width:2.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st12{fill:#8BD2D9;}
.icons-dashboard .st13{fill:none;stroke:#24373D;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st14{font-size:11.4124;}
.icons-dashboard .st15{fill:#92A1A8;}
.icons-dashboard .st16{font-family:'Museo-700';}
.icons-dashboard .st17{fill:#C7DCE6;}
.icons-dashboard .st18{fill:none;stroke:#B83357;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st19{fill:#FF1D7A;}
.icons-dashboard .st20{fill:#FFFFFF;}
.icons-dashboard .st21{fill:none;stroke:#24373D;stroke-width:1.5;stroke-miterlimit:10;}
.icons-dashboard .st22{fill:#663348;}
.icons-dashboard .st23{fill:#9DA9AD;}
.icons-dashboard .st24{fill:none;stroke:#206F8C;stroke-width:1.7432;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st25{fill:#369ABA;}
.icons-dashboard .st26{fill:none;stroke:#92A1A8;stroke-width:2;stroke-miterlimit:10;}
.icons-dashboard .st27{fill:#6CDBFF;}
.icons-dashboard .st28{fill:#002A2E;}
.icons-dashboard .st29{fill:none;stroke:#3B5864;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.icons-dashboard .st30{fill:none;stroke:#516875;stroke-width:1.7432;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:1,3;}
.icons-dashboard .st31{font-size:12;}
.icons-dashboard .st32{font-size:13;}
.icons-dashboard .st33{font-size:17;}
.icons-dashboard .st34{font-size:20;}
.icons-dashboard .st35{fill:#3AA8CC;}
.icons-dashboard .st36{fill:#3B6488;}
.icons-dashboard .st37{fill:#D6D6D6;}
.icons-dashboard .st38{fill:#D8F5FF;}
.icons-dashboard .st39{fill:none;stroke:#D44763;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st40{fill:#730030;}
.icons-dashboard .st41{fill:none;stroke:#DFDFDF;stroke-width:1.8;stroke-miterlimit:10;}
.icons-dashboard .st42{fill:none;stroke:#C7DCE6;stroke-miterlimit:10;}
.icons-dashboard .st43{font-size:13.4263;}
.icons-dashboard .st44{fill:#41BAE0;}
.icons-dashboard .st45{fill:#42B4D9;}

