.icons-dashboard .st0{fill:none;stroke:#2BABD9;stroke-width:2;stroke-miterlimit:10;}
.icons-dashboard .st1{fill:#46B4DB;}
.icons-dashboard .st2{fill:#7AB849;}
.icons-dashboard .st3{fill:none;stroke:#46B4DB;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:2.0028,3.0041;}
.icons-dashboard .st4{fill:none;stroke:#46B4DB;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:2,3;}
.icons-dashboard .st5{fill:#ADADAD;}
.icons-dashboard .st6{fill:none;stroke:#9D9D9D;stroke-width:0.25;stroke-miterlimit:10;}
.icons-dashboard .st7{fill:none;stroke:#1D6282;stroke-miterlimit:10;}
.icons-dashboard .st8{fill:none;stroke:#62808C;stroke-width:1.5;stroke-miterlimit:10;}
.icons-dashboard .st9{fill:none;stroke:#4FCBF7;stroke-width:1.7432;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st10{fill:none;stroke:#F37D37;stroke-width:2;stroke-miterlimit:10;}
.icons-dashboard .st11{fill:#E6E6E6;}
.icons-dashboard .st12{fill:none;stroke:#D8D8D8;stroke-width:2.217;stroke-miterlimit:10;}
.icons-dashboard .st13{fill:none;stroke:#028CB9;stroke-width:1.7432;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st14{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.icons-dashboard .st15{fill:#808080;}
.icons-dashboard .st16{fill:none;stroke:#C4C4C4;stroke-miterlimit:10;}
.icons-dashboard .st17{fill:#EDEDED;}
.icons-dashboard .st18{fill:none;stroke:#46B4DB;stroke-width:3;stroke-miterlimit:10;}
.icons-dashboard .st19{fill:#8ABD53;}
.icons-dashboard .st20{fill:#F5F5F5;}
.icons-dashboard .st21{fill:none;stroke:#C4C4C4;stroke-width:2;stroke-miterlimit:10;}
.icons-dashboard .st22{fill:none;stroke:#5F7C87;stroke-width:1.7432;stroke-linecap:round;stroke-linejoin:round;}
.icons-dashboard .st23{fill:none;stroke:#D8D8D8;stroke-width:2;stroke-miterlimit:10;}
.icons-dashboard .st24{fill:none;stroke:#46B4DB;stroke-width:1.645;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st25{fill:none;stroke:#46B4DB;stroke-width:2;stroke-miterlimit:10;}
.icons-dashboard .st26{fill:#969696;}
.icons-dashboard .st27{fill:none;stroke:#46B4DB;stroke-width:1.4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st28{fill:none;stroke:#769AA8;stroke-width:2;stroke-miterlimit:10;}
.icons-dashboard .st29{fill:#FFFFFF;}
.icons-dashboard .st30{fill:none;stroke:#2886B3;stroke-miterlimit:10;}
.icons-dashboard .st31{fill:none;stroke:#C4C4C4;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st32{fill:#CCCCCC;}
.icons-dashboard .st33{fill:none;stroke:#5F7C87;stroke-width:1.7432;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:2.922,2.922;}
.icons-dashboard .st34{fill:none;stroke:#C3C3C3;stroke-width:2.5;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st35{fill:#37C2A1;}
.icons-dashboard .st36{fill:none;stroke:#92A1A8;stroke-width:2;stroke-miterlimit:10;}
.icons-dashboard .st37{fill:#008BBD;}
.icons-dashboard .st38{fill:none;stroke:#5F7C87;stroke-width:1.7432;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st39{fill:none;stroke:#BFBFBF;stroke-width:2;stroke-miterlimit:10;}
.icons-dashboard .st40{fill:none;stroke:#46B4DB;stroke-width:1.8285;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st41{fill:none;stroke:#008BBD;stroke-width:1.7432;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.icons-dashboard .st42{fill:#757878;}

