.icons-dashboard .st0{fill:#46C799;}
.icons-dashboard .st1{fill:#7FE0BF;}
.icons-dashboard .st2{fill:none;stroke:#23D5DB;stroke-miterlimit:10;}
.icons-dashboard .st3{fill:#4AAA88;}
.icons-dashboard .st4{fill:#175D80;}
.icons-dashboard .st5{fill:#19242B;}
.icons-dashboard .st6{fill:#1C2830;}
.icons-dashboard .st7{fill:#EBE29F;}
.icons-dashboard .st8{fill:#1E77A3;}
.icons-dashboard .st9{opacity:0.28;}
.icons-dashboard .st10{fill:#202E38;}
.icons-dashboard .st11{fill:#23D5DB;}
.icons-dashboard .st12{fill:#F5DA81;}
.icons-dashboard .st13{fill:#C2444A;}
.icons-dashboard .st14{fill:#2A3D4A;}
.icons-dashboard .st15{fill:#FFF5AD;}
.icons-dashboard .st16{fill:#FFFFFF;}
.icons-dashboard .st17{fill:#62B1DD;}
.icons-dashboard .st18{fill:#32B3B3;}
.icons-dashboard .st19{fill:#00A3A8;}
.icons-dashboard .st20{fill:#3ACFCF;}
.icons-dashboard .st21{fill:#A33B40;}
.icons-dashboard .st22{opacity:0.53;fill:#002C73;}
.icons-dashboard .st23{fill:#DBCE74;}
.icons-dashboard .st24{fill:#DD6268;}
.icons-dashboard .st25{fill:#43C494;}

