
// colors

$white:                 #FFFFFF;
$gray_L15:              #F8F8F8;
$gray_L12:              #F3F3F3;
$gray_L10:              #F0EFEF;
$gray_L5:               #EAEAEA;
$gray_L3:               #E6E6E6;
$gray:                  #DFDFDF;
$gray_5:                #D5D5D5;
$gray_10:               #C4C4C4;
$gray_15:               #BCBEC0;
$gray_17:               #AFB0AF;
$gray_20:               #A8A7A7;
$gray_25:               #989A9A;
$gray_30:               #87898C;
$gray_35:               #707171;
$gray_40:               #5F6062;
$gray_45:               #343434;
$gray_50:               #232323;
$black:                 #000000;

// sages
$sage:                  #ACC1C3;
$sage_5:                #758A91;
$sage_7:                #A5B8B8;
$sage_10:               #707C87;
$sage_15:               #4E575F;

// ices
$ice:                   #C4D0D3;
$ice_10:                #9BB0B8;
$ice_15:                #92A1A8;
$ice_25:                #6F7F86;

// gray blues
$gray_blue_L50:         #D4EBF2;
$gray_blue_L20:         #ADD4E3;
$gray_blue_L15:         #99C8D8;
$gray_blue:             #769AA6;
$gray_blue_10:          #62808B;
$gray_blue_19:          #4A606B;
$gray_blue_20:          #49585D;

// slates
$slate:                 #8097A6;
$slate_5:               #4F7383;
$slate_20:              #1D4856;

// blues
$blue_L20:              #9DE1FD;
$blue_L5:               #4FCCF3;
$blue:                  #48B5DA;
$blue_5:                #28A1C8;
$blue_7:                #2C92B6;
$blue_8:                #1581BA;
$blue_10:               #028CB9;
$blue_20:               #02779D;
$blue_25:               #036081;
$blue_30:               #0A5370;

// blueberries
$blueberry_L10:         #9EE2FC;
$blueberry_L5:          #71CACF;
$blueberry_3:           #469CA2;
$blueberry:             #36BCC2;
$blueberry_5:           #259297;
$blueberry_10:          #1F6367;
$blueberry_15:          #113C47;

// indigos
$indigo_L20:            #99D0D3;
$indigo_10:             #2A9095;
$indigo_25:             #305664;
$indigo_30:             #204451;
$indigo_35:             #18323C;
$indigo_50:             #0C191E;

// mints
$mint_L5:               #36D4B6;
$mint:                  #3EC1A2;
$mint_10:               #009484;
$mint_20:               #0A7365;

// greens
$green_L5:              #87C45A;
$green:                 #7DB951;
$green_5:               #6FA646;
$green_7:               #63933F;
$green_10:              #408140;
$green_15:              #305329;

// nights
$night_L20:             #596C70;
$night_L5:              #29434A;
$night:                 #1F3137;
$night_3:               #1E2B30;
$night_5:               #0E2026;

// custards
$custard:               #FCF1AB;
$custard_5:             #FFEA90;

// yellows
$highlight-yellow_L5:   #FFFEF0;
$highlight-yellow:      #FFFDD0;
$highlight-yellow_5:    #00141B;
$highlight-yellow_10:   #E0DED1;

// oranges
$orange_L5:             #FEA06B;
$orange:                #F58E59;
$orange_5:              #E77F4B;
$orange_7:              #D56D44;
$orange_10:             #A74D28;
$orange_15:             #672612;

// watermellons
$watermellon_L10 :      #FE8081;
$watermellon_L5:        #EF5662;
$watermellon:           #EE4347;
$watermellon_5:         #D13239;

// pinks
$pink_L5:               #EE5473;
$pink:                  #ED5F80;
$pink_40:               #8F394D;
$pink_45:               #872F41;

// reds
$red_L5:                #F22C68;
$red:                   #E21954;
$red_5:                 #CF114C;
$red_7:                 #B40F42;
$red_10:                #A71D3C;
$red_15:                #450317;

// third-party
$twitter-blue:          #00ABF0;
$github-black:          #333333;
$google-red:            #DD4B39;
